body{
    background-color: #2d3436;
}
.header{
    display: block;
    background-image: url(../img/background.jpg);
    background-size: cover;
    width: 97%;
    height: 400px;
    margin:0 auto;
    border-radius: 10px;
}
.profile-picture{
    position: relative;
    top: 120px;
    border-radius: 100%;
    border: solid #2d3436 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}