extend layout
block header
    title Mohammad Raufzahed
block content
    div(id="container")
        div(id='navbar-top')
            a(class='navbar-links', href="#") Home
            a(class='navbar-links', href="#aboutMe") About me
        div(id='header')
            h1(id='webSite-title') Mohammad Raufzahed
            small() Web Developer