extend layout
block header
    title Mohammad Raufzahed
block content
    div(id="container")
        div(id='picture-cover')
        img(id='profile-pic', src='images/profile.jpg')
        h1(id='site-title') Mohammad Raufzahed
        div(id='social-media')
            a(href='#')
                i(class='fab fa-telegram icon')
            a(href='#')
                i(class='fab fa-github icon')
            a(href='#')
                i(class='fas fa-envelope icon')
            div(id='content')
                p Hi! I'm Mohammad. I'm a nerd and i love developing websites and i interested in Free Software and Open Source softwares. I live in Tehran and i love it.