<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Mohammad Raufzahed personal website">
    <meta name="keywords" content="HTML, CSS, JavaScript, Web Development, Developer, nodejs">
    <meta name="author" content="Mohammad Raufzahed">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/all.min.css"/>
</head>
<body>
{{{body}}}
</body>
</html>
