@font-face {
  font-family: 'Anton Regular';
  src: url("../fonts/Anton-Regular.ttf");
}
body{
  background-color: #DFE6E9;
  font-family: 'Anton Regular';
}
*{
  box-sizing: border-box;
  margin: 0;
}
#container{
  padding-top: 20px;
  width: 85%;
  margin: 0 auto;
}
#navbar-top{
  display: flex;
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 12px;
  background-color: #C1CACE;
  border-radius: 5px;
}
.navbar-links{
  text-decoration: none;
  color: #2d3436;
  font-size: 13pt;
  padding: 7px 0px 7px 0px;
  margin-left: 20px;
}
.navbar-links:hover{
  color: white;
  transition: 0.5s ease;
}
#header{
  text-align: center;
  margin: 0 auto;
  width: 90%;
  height: 300px;
  border-radius: 15px;
  background-size: auto;
  background-image: url('../images/background.jpg');
  color: white;
}
#webSite-title{
  font-weight: bold;
  font-size: 30pt;
  padding-top: 100px;
}
#header small{
  font-weight: lighter;
  font-size: 15pt;
}