html,
body,
#root {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
* {
    box-sizing: border-box !important;
    scroll-behavior: smooth !important;
}

#root {
    max-width: 1440px;
    margin-inline: auto;
}
