---
import Navbar from "../components/Navbar.astro";
import "../styles/global.scss";
import "normalize.css/normalize.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Mohammad Raufzahed is a talented front-end developer and creative enthusiast. Explore his website to learn more about his work and the latest trends in front-end design and development."
    />
    <meta
      name="keywords"
      content="front-end development, front-end design, web development, creative portfolio, Mohammad Raufzahed, front-end enthusiast, HTML, CSS, JavaScript, UX design, Next.js, Node.js, React, Vue, Angular, Ember, front-end frameworks"
    />
    <meta name="author" content="Mohammad Raufzahed" />
    <link rel="canonical" href="https://www.mohammadraufzahed.ir/" />
    <title>
      Mohammad Raufzahed - Front-end Developer and Creative Enthusiast
    </title>
  </head>
  <body>
    <Navbar />
  </body>
</html>
