extend ../layout
block header
    link(rel='stylesheet' href='stylesheets/404.css')
    title 404 - Mohammad Raufzahed
block content
    div(id='pageNotFound-container')
        img(src='images/light-bulb.png', id='pageNotFound-bulb')
        div(id='pageNotFound-text-container')
            h1(id='pageNotFound-title') Hey, Why you turned off the lights?
            br
            p(id='pageNotFound-description') Are you sure you got the key right?