---
import { Icon } from "astro-icon";
---

<div id="box_footer" class="footer">
  <a href="mailto:mohammadraufzahed@protonmail.com"
    ><button>Contact Me</button></a
  >
  <div class="icons">
    <a href="https://www.linkedin.com/in/mohammad-raufzahed-59b945264">
      <div>
        <Icon name="fa:linkedin" size={20} />
      </div></a
    >

    <a href="https://github.com/mohammadraufzahed">
      <div>
        <Icon name="fa:github" size={20} />
      </div></a
    >
    <a href="https://www.instagram.com/mohammadraufzahed/">
      <div>
        <Icon name="fa:instagram" size={20} />
      </div></a
    >
  </div>
</div>
<style lang="scss" scoped>
  .footer {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    position: relative;
    z-index: 10;
    @media only screen and (min-width: 500px) {
      & {
        align-items: center;
        flex-direction: row;
      }
    }
    > a {
      text-decoration: none;
      > button {
        background: #ffffff;
        box-shadow: -8px 6px 0px #cdcdcd;
        border-radius: 10px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        border: unset;
        outline: unset;
        cursor: pointer;
        transition: 300ms ease;
        transition-property: transform;
        &:hover {
          transform: translateY(-3px);
        }
      }
    }
    > .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 16px;
      > a {
        text-decoration: none;
        color: black;
        > div {
          background-color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-inline: 8px;
          padding-block: 8px;
          transition: 300ms ease;
          transition-property: transform;
          cursor: pointer;
          &:hover {
            transform: translateY(-3px);
          }
        }
      }
    }
  }
</style>
